.card, .card div {
    border: none !important;
    border-radius: unset;
}
.title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #1A1A1A;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
.title:hover {
    color: #808080;
}
.priceSection {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #1A1A1A;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
}

.priceSection del {
    color: #808080;
    font-size: 15px;
    line-height: 19px;
    padding: 0 5px;
}
.pCardCenter {
    text-align: center;
}
