body {
    position: relative;
}

.shortCartWrapper {
    position: fixed;
    width: 48px;
    height: 40px;
    background-color: #007BFF;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -20px;
    top: 50%;
    transform: translate(-50%);
    border-radius: 5px 0 0 5px;
    z-index: 999;
    cursor: pointer;
}
.shortCart {
    position: relative;
}
.cartIcon {
    font-size: 28px;
}
.shortCartCount {
    position: absolute;
    bottom: -30px;
    background-color: #FF3131;
    display: inline;
    padding: 0px 5px;
    border-radius: 50%;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
