/* src/ImageUpload.css */
.image-upload-container {
    border: 2px dashed #cccccc;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}

.image-upload-container p {
    margin: 0;
}

.dropzone {
    cursor: pointer;
}

.dropzone.active {
    border-color: #2196f3;
}

.dropzone.accept {
    border-color: #00e676;
}

.dropzone.reject {
    border-color: #ff1744;
}

.image-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.image-thumb {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 60px;
    height: 60px;
    padding: 4px;
    box-sizing: border-box;
}

.image-thumb-inner {
    display: flex;
    min-width: 0;
    overflow: hidden;
    position: relative;
}

.image-thumb-inner img {
    display: block;
    width: auto;
    height: 100%;
}

.image-thumb-inner button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
