.section {
    padding: 25px 0 10px 0;
}
.wrapper {
    width: 90vw;
    padding: 0;
    overflow-x: hidden;
}

.searchForm {
    position: relative;
    margin: 10px 0;
}

.searchIcon {
    position: absolute;
    top: 3px;
    left: 3px;
    margin: 5px;
}

.search {
    width: 100%;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #808080;
    padding: 10px 10px 10px 30px;
    gap: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
.selectBy {
    /*padding: .375rem 2.25rem .375rem .75rem;*/
    font-family: "Poppins", sans-serif;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #1A1A1A;
    border: 1px solid #808080;
    text-transform: capitalize;
}
.selectBy:focus {
    border-color: #1A1A1A; /* Focus border color */
    box-shadow: 0 0 0 0.2rem rgba(128, 128, 128, 0.25); /* Focus shadow color */
}

.selectBy option:checked, .selectBy option:hover, .selectBy option:focus {
    background-color: #1A1A1A; /* Selected option background color */
    color: #f0f0f0; /* Selected option text color */
}
.selectBy option {
    font-family: "Poppins", sans-serif;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #1A1A1A;
    text-transform: capitalize;
}
@media (min-width: 300px) and (max-height: 1199px) {
    .wrapper {
        width: 90vw;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        width: 90vw;
    }
}
