/*.card {*/
/*    width: 990px;*/
/*    padding: 20px 20px 30px 50px;*/
/*    background-color: #FFFFFF;*/
/*    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);*/
/*    transition: 1s;*/
/*    border-radius: unset;*/
/*}*/
.cardBody {
    position: relative;
}

.cardTitleAddress {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 30px;
    width: 990px;
    height: 42px;
    border-bottom: 1px solid grey;
    transition: border-bottom-color 0.3s ease;
    margin-left: 15px;
}

.textButton {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0px;
    cursor: pointer;
    text-align: left;
    background: none;
    border: none;
    outline: none;
}

.textButton span {
    padding-right: 10px; /* Adjust this value as needed */
    color: grey; /* Default color */
}

.textButton .all {
    order: 0;
}

.textButton .processing {
    order: 1;
}

.textButton .completed {
    order: 2;
}

.textButton .selected {
    border-bottom: 3px solid grey;
    transition: border-bottom-color 0.5s ease;
    color: black;
}

.textButton .selected span {
    color: black;
}


.formRow {
    align-items: flex-start;
    margin-bottom: 15px;
}

.formRow label {
    flex: 1;
    text-align: right;
    margin-right: 15px;
}

.formRow select,
.formRow input {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    width: 300px;
    box-sizing: border-box;
}

.orderItemCard > div {
    background-color: #fff;
}

.orderItemCardTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;
    margin: 5px;
}

.orderItemCardTitle > span {
    color: #007BFF;
}

.orderItemCardSubTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #808080;
    margin: 5px;
}

.orderItemCardBtn {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    padding: 15px 30px;
    font-size: 14px;
    line-height: 17px;
    border-radius: unset;
    color: #007BFF;
    border: 1px solid #007BFF;
    background-color: #fff;
    float: right;
    transition: .5s;
}

.orderItemCardBtn:hover {
    color: #FFFFFF;
    background-color: #007BFF;
    transition: .5s;
}

.orderedProductWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.orderedProductImage {
    width: 53px;
    aspect-ratio: 1/1.5;
    background-size: cover;
}

.orderedProductInfo {
    margin: 10px;
}

.orderedProductName, .orderedProductAttributes > span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;
}

.orderedProductName {
    margin: 5px 5px 5px 0;
}

.orderedProductAttributes {
    display: block;
    /*justify-content: space-between;*/
}

.orderedProductAttributes > span {
    color: #808080;
    padding: 0 10px;
}

.orderedProductAttributes > span:nth-child(1) {
    padding-left: 0;
}

.orderedProductAttributes > span > span {
    color: #1A1A1A;
}

.orderedProductAttributes > span > span > span {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.orderedProductDelivery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.orderedProductDeliveryBtn {
    background-color: #00A97F;
    color: #FFFFFF;
    padding: 7px 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    border-radius: 20px;

}

.orderedProductNopayBtn {
    background-color: #ff0015;
    color: #FFFFFF;
    padding: 7px 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    border-radius: 20px;

}

.orderedProductDeliveryInfo {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;
}

/*.orderedProductAttributes > span*/
@media (min-width: 300px) and (max-height: 1199px) {
    .orderItemCardBtn {
        padding: 7px 10px;
        font-size: 12px;
        line-height: 14px;
    }

    .orderedProductDeliveryInfo {
        margin-top: 10px;
    }
}

@media (min-width: 1200px) {
    .orderItemCardBtn {
        padding: 10px 30px;
        font-size: 14px;
        line-height: 17px;
    }
}
