.menu {
    justify-content: space-between;
}
.searchForm {
    position: relative;
    margin: 0px;
}

.searchIcon {
    position: absolute;
    top: 10px;
    left: 3px;
    margin: 5px;
}
.search {
    width: 400px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #808080;
    padding: 10px 10px 10px 30px;
    gap: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-right: 10px;
}

.cardTitleAddress {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    line-height: 19px;
}

.bottomPaymentBtn {
    padding: 10px;
    gap: 10px;
    background-color: #00A97F;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19.2px;
    width: 150px;
    height: 48px;
    text-align: center;
}

.OrderText{
    font-size: 12px;
    /*margin-left: 10px;*/
}
