.slickPrev, .slickNext {
    z-index: 99 !important;
    /*display: none !important;*/
}

.slickPrev {
    left: 5px !important;
}

.slickNext {
    right: 10px !important;
}

.slickPrev:before,
.slickNext:before {
    background: #808080;
    padding: 10px 10px 7px 10px;
    border-radius: 5px;
    transition: .5s;
    font-size: 12px !important;
}

.slickPrev:hover:before,
.slickNext:hover:before {
    background: #1A1A1A;
}

.slickPrev:before {
    content: url("/resources/home_asset/CustomIcons/arrow_left_icon.svg") !important;
}

.slickNext:before {
    content: url("/resources/home_asset/CustomIcons/arrow_right_icon.svg") !important;
}
